.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:10px;
    padding:10px 20px;
    background-color:blue;
    color:white
}


.link {
    color:white;
    text-decoration: none;
    padding:2px 6px;
}

.link:hover {
    text-decoration:underline;
    border:1px solid black;
    border-right:5px solid black;
    border-bottom:5px solid black;
}